/* Estilos para el cuerpo del post */
.post {
    margin: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para el título del post */
  .post-title {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  /* Estilos para la información del autor */
  .author-info {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
  }
  
  /* Estilos para el contenido del post */
  .post-content {
    font-size: 16px;
    line-height: 1.6;
  }
  
  /* Estilos para las imágenes dentro del post */
  .post-content img {
    width: 100%;
    height: auto;
    margin: 10px 0;
    padding: 25px;
  }
  
  /* Estilos para los enlaces dentro del post */
  .post-content a {
    color: #007bff;
    text-decoration: none;
    border-bottom: 1px solid #007bff;
    transition: border-bottom 0.3s ease-in-out;
  }
  
  .post-content a:hover {
    border-bottom: 2px solid #007bff;
  }

  .post-content p {
    text-align: justify;
  }
  
  /* Estilos para las citas dentro del post */
  blockquote {
    border-left: 4px solid #007bff;
    margin: 0;
    padding-left: 20px;
    font-style: italic;
  }
  
  /* Estilos para las listas */
  ul, ol {
    margin-left: 20px;
  }
  
  /* Estilos para los encabezados */
  h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
  }
  
  /* Estilos para el pie de página del post */
  .post-footer {
    font-size: 12px;
    color: #777;
    margin-top: 20px;
  }
  
  .text-respon{
    width: 100%; /* Ocupa el 100% del ancho disponible */
    max-width: 100%; /* Limita el ancho máximo al 100% */
    min-height: 100px; /* Altura mínima deseada */
    resize: vertical; /* Permite ajustar solo la altura vertical */
  }
